<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<events>
			<event name="item:saved">
				<handler type="Sitecore.Foundation.ScExtensions.Events.AllowedDataSourcesSaveEvent, Sitecore.Foundation.ScExtensions" method="OnItemSaved"/>
			</event>
		</events>
	</sitecore>
</configuration>